modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 41126571
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node body.js"
