modules = ["nodejs-20", "web"]
run = "node body.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node body.js"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40506544
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node --expose-gc body.js"

[env]
REPLIT_DISABLE_PACKAGE_LAYER = "1"
REPLIT_KEEP_PACKAGE_DEV_DEPENDENCIES = "1"
